<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}

  <div>
	  {% capture header_p %}{% include header.md %}{% endcapture %}
	  {{ header_p | markdownify }}
  </div>

  {% include call-to-action.html %}
  {% include services.html %}


  <div>
	  {% capture portfolio_p %}{% include portfolio.md %}{% endcapture %}
	  {{ portfolio_p | markdownify }}
  </div>

  {% include aside.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>